
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 50rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.3);
}